@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Inter:wght@100..900&display=swap');

.gruppo{
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.waves {
    position: relative;
    transform: rotate(-180deg) scaleX(-1); /* Rotate and flip horizontally */
}

:root {
    --shape-fill-color-light: #ffffff; /* Default (light mode) color */
    --shape-fill-color-dark: #1E293B; /* Dark mode color */
}

.shape-fill {
    fill: var(--shape-fill-color-light);
    transition: fill 0.3s ease;
}

.dark .shape-fill {
    fill: var(--shape-fill-color-dark);
}

